body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(aqua, aquamarine);
    background-repeat: no-repeat;
    height: 100vh;
}

.button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid lightcoral;
    background-color: rgb(241, 214, 214);
    color: lightcoral;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    display: flex;
    align-items: center;
}

.counter .button {
    margin: 0 1rem;
}

